<div class="container">
    <div class="jumbotron">
        <h2>Course</h2>
        <div class="md-form active-purple-2 mb-3 pl-0 col-3">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                (change)="filterList($event)">
        </div>
    </div>
    <div class="content">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Title</th>
                    <th scope="col" class="text-center">Duration</th>
                    <th scope="col" class="text-center">Duration Unit</th>
                    <th scope="col" class="text-center">Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="courseList">
                <tr course-item *ngFor="let course of filteredList" [course]="course" (deleteEvent)="delete($event)"
                    (editEvent)="edit($event)"></tr>
            </tbody>
        </table>
    </div>
    <button *ngIf="!form" type="button" class="btn btn-primary mb-3" (click)="createForm()">Add</button>
    <form *ngIf="form" [formGroup]="form">
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" formControlName="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Duration</label>
            <input type="number" class="form-control" formControlName="duration" placeholder="Duration">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Duration Unit</label>
            <input type="text" class="form-control" formControlName="durationUnit" placeholder="Duration Unit">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Description">
        </div>
        <button type="button" class="btn btn-primary mb-3" (click)="save()">Save</button>
    </form>
</div>